p {
  font-size: 1.2rem;
  font-weight: 600;
  background: #f4f4f9;
  padding: 12px 18px;
  border-radius: 10px;
  border-left: 4px solid #4f46e5;
  color: #333;
  width: fit-content;

  /* centrer */
  margin: auto;
}
